* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}

.navbar {
    width: 100%;
    margin: 0 auto;
}

#menu-button {
    width: 20px;
    padding-top: 6px;
}


#sign-in-button {
    border: 0;
    color: white;
    background-color: rgba(57, 149, 235, 0.952);
    padding: 6px 12px 6px 12px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 15px;
}

nav {
    margin: 5px 20px 5px 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
}

nav li {

}

.center {
    margin-top: 200px;
    text-align: center;
}

.text-link:hover {
    text-decoration: underline;
    color: rgb(163, 163, 163);
}

.content {
    padding-top: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-box {
    margin-top: 30px;
    padding: 10px;
    width: 500px;
}

.row {
    flex-direction: row;
    margin-top: 25px;
}

.buttons {
    border: 0;
    background-color: rgb(247, 247, 247);
    padding: 10px;
    color: rgb(124, 124, 124);
    font-weight: 500;
    margin-right: 5px;
    border: solid 1px transparent;
}

.buttons:hover {
    border: solid 1px rgb(173, 173, 173);
    color: rgb(97, 97, 97);
}

#lang-text{
    margin-top: 25px;
}

.lang-link {
    text-decoration: none;
}

.lang-link:hover {
    text-decoration: underline;

}